[data-section='show-list'] {
  display: grid;
  gap: var(--gutter);

  @media (min-width: 40em) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 50em) {
    margin-inline: calc(-1 * var(--gutter));
  }

  @media (min-width: 60em) {
    margin-inline: calc(-1 * var(--spacer));
  }
}

.show:first-of-type {
  grid-column: 1 / -1;
}

.show {
  h3 {
    display: inline;
  }

  .hero-img {
    aspect-ratio: 16/9;
    border: thin solid var(--border);
    display: block;
    margin-block-end: var(--shim);
    object-fit: cover;
    overflow: hidden;
  }
}
